.sideBarCont {
  position: fixed;
  top: 0;
  transition: ease-in-out 0.3s;
  z-index: 10000;
  width: min-content;
}
.sideBarCont.hide {
  margin-left: -100% !important;
}
.showHide.position-absolute {
  left: 0;
  z-index: 1000 !important;
}
.showHide {
  margin-left: 0.2em;
  width: 35px;
  height: 35px;
  font-size: small !important;
}
